<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fwk.service.system.dao.VarietiesDao">

	<select id="queryVarieties" parameterType="com.fwk.service.system.entity.VarietiesEXT"
		resultType="com.fwk.service.system.entity.VarietiesEXT">
		select * from t_s_varieties
		<include refid="where_sql" />
		<include refid="order_sql" />
		<include refid="limit_sql" />
	</select>

	<select id="queryVarietiesCount" parameterType="com.fwk.service.system.entity.VarietiesEXT"
		resultType="java.lang.Integer">
        select count(*) from t_s_varieties
		<include refid="where_sql" />
	</select>

	<sql id="where_sql">
		where 1=1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="orgid != null">
			and orgid = #{orgid}
		</if>
		<if test="categoryid != null">
			and categoryid = #{categoryid}
		</if>
		<choose>
			<when test="delstate != null">
				and delstate = #{delstate}
			</when>
			<otherwise>
				and delstate = 1
			</otherwise>
		</choose>
	</sql>

	<sql id="order_sql">
		<choose>
			<when test="ordercol != null and ordercol != ''">
				order by #{ordercol}
				<choose>
					<when test="desc != null and desc != ''">
						#{desc}
					</when>
					<otherwise>
						desc
					</otherwise>
				</choose>
			</when>
			<otherwise>
				order by creattime desc
			</otherwise>
		</choose>
	</sql>

	<sql id="limit_sql">
		<choose>
			<when test="page !=null">
				limit ${(page.currentPage-1) *
				page.pageSize},${page.pageSize}
			</when>
			<otherwise>
				limit 0,99999
			</otherwise>
		</choose>
	</sql>

</mapper>