<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fwk.common.dao.TFtaskuserpermisionsMapper">
  <resultMap id="BaseResultMap" type="com.fwk.common.entity.TFtaskuserpermisions">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="creattime" jdbcType="TIMESTAMP" property="creattime" />
    <result column="edittime" jdbcType="TIMESTAMP" property="edittime" />
    <result column="delstate" jdbcType="INTEGER" property="delstate" />
    <result column="taskid" jdbcType="INTEGER" property="taskid" />
    <result column="createuserid" jdbcType="INTEGER" property="createuserid" />
    <result column="createuserorgid" jdbcType="VARCHAR" property="createuserorgid" />
    <result column="createuserdepartmentid" jdbcType="VARCHAR" property="createuserdepartmentid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, creattime, edittime, delstate, taskid, createuserid, createuserorgid, createuserdepartmentid
  </sql>
  <select id="selectByExample" parameterType="com.fwk.common.entity.TFtaskuserpermisionsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_f_task_userpermisions
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_f_task_userpermisions
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_f_task_userpermisions
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fwk.common.entity.TFtaskuserpermisionsExample">
    delete from t_f_task_userpermisions
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fwk.common.entity.TFtaskuserpermisions">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_f_task_userpermisions (creattime, edittime, delstate, 
      taskid, createuserid, createuserorgid, 
      createuserdepartmentid)
    values (#{creattime,jdbcType=TIMESTAMP}, #{edittime,jdbcType=TIMESTAMP}, #{delstate,jdbcType=INTEGER}, 
      #{taskid,jdbcType=INTEGER}, #{createuserid,jdbcType=INTEGER}, #{createuserorgid,jdbcType=VARCHAR}, 
      #{createuserdepartmentid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fwk.common.entity.TFtaskuserpermisions">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_f_task_userpermisions
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="creattime != null">
        creattime,
      </if>
      <if test="edittime != null">
        edittime,
      </if>
      <if test="delstate != null">
        delstate,
      </if>
      <if test="taskid != null">
        taskid,
      </if>
      <if test="createuserid != null">
        createuserid,
      </if>
      <if test="createuserorgid != null">
        createuserorgid,
      </if>
      <if test="createuserdepartmentid != null">
        createuserdepartmentid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="creattime != null">
        #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="edittime != null">
        #{edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="delstate != null">
        #{delstate,jdbcType=INTEGER},
      </if>
      <if test="taskid != null">
        #{taskid,jdbcType=INTEGER},
      </if>
      <if test="createuserid != null">
        #{createuserid,jdbcType=INTEGER},
      </if>
      <if test="createuserorgid != null">
        #{createuserorgid,jdbcType=VARCHAR},
      </if>
      <if test="createuserdepartmentid != null">
        #{createuserdepartmentid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fwk.common.entity.TFtaskuserpermisionsExample" resultType="java.lang.Integer">
    select count(*) from t_f_task_userpermisions
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_f_task_userpermisions
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.creattime != null">
        creattime = #{record.creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.edittime != null">
        edittime = #{record.edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.delstate != null">
        delstate = #{record.delstate,jdbcType=INTEGER},
      </if>
      <if test="record.taskid != null">
        taskid = #{record.taskid,jdbcType=INTEGER},
      </if>
      <if test="record.createuserid != null">
        createuserid = #{record.createuserid,jdbcType=INTEGER},
      </if>
      <if test="record.createuserorgid != null">
        createuserorgid = #{record.createuserorgid,jdbcType=VARCHAR},
      </if>
      <if test="record.createuserdepartmentid != null">
        createuserdepartmentid = #{record.createuserdepartmentid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_f_task_userpermisions
    set id = #{record.id,jdbcType=INTEGER},
      creattime = #{record.creattime,jdbcType=TIMESTAMP},
      edittime = #{record.edittime,jdbcType=TIMESTAMP},
      delstate = #{record.delstate,jdbcType=INTEGER},
      taskid = #{record.taskid,jdbcType=INTEGER},
      createuserid = #{record.createuserid,jdbcType=INTEGER},
      createuserorgid = #{record.createuserorgid,jdbcType=VARCHAR},
      createuserdepartmentid = #{record.createuserdepartmentid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fwk.common.entity.TFtaskuserpermisions">
    update t_f_task_userpermisions
    <set>
      <if test="creattime != null">
        creattime = #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="edittime != null">
        edittime = #{edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="delstate != null">
        delstate = #{delstate,jdbcType=INTEGER},
      </if>
      <if test="taskid != null">
        taskid = #{taskid,jdbcType=INTEGER},
      </if>
      <if test="createuserid != null">
        createuserid = #{createuserid,jdbcType=INTEGER},
      </if>
      <if test="createuserorgid != null">
        createuserorgid = #{createuserorgid,jdbcType=VARCHAR},
      </if>
      <if test="createuserdepartmentid != null">
        createuserdepartmentid = #{createuserdepartmentid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fwk.common.entity.TFtaskuserpermisions">
    update t_f_task_userpermisions
    set creattime = #{creattime,jdbcType=TIMESTAMP},
      edittime = #{edittime,jdbcType=TIMESTAMP},
      delstate = #{delstate,jdbcType=INTEGER},
      taskid = #{taskid,jdbcType=INTEGER},
      createuserid = #{createuserid,jdbcType=INTEGER},
      createuserorgid = #{createuserorgid,jdbcType=VARCHAR},
      createuserdepartmentid = #{createuserdepartmentid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>