<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fwk.common.dao.TPparcelplantyieldMapper">
  <resultMap id="BaseResultMap" type="com.fwk.common.entity.TPparcelplantyield">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="creattime" jdbcType="TIMESTAMP" property="creattime" />
    <result column="delstate" jdbcType="INTEGER" property="delstate" />
    <result column="edittime" jdbcType="TIMESTAMP" property="edittime" />
    <result column="plantid" jdbcType="INTEGER" property="plantid" />
    <result column="outputyear" jdbcType="VARCHAR" property="outputyear" />
    <result column="output" jdbcType="VARCHAR" property="output" />
    <result column="outputlevel" jdbcType="VARCHAR" property="outputlevel" />
    <result column="preestimatecategory" jdbcType="VARCHAR" property="preestimatecategory" />
    <result column="preestimateoutput" jdbcType="DECIMAL" property="preestimateoutput" />
    <result column="preestimateoutputunit" jdbcType="VARCHAR" property="preestimateoutputunit" />
    <result column="preestimatelandoutput" jdbcType="DECIMAL" property="preestimatelandoutput" />
    <result column="preestimatelandoutputunit" jdbcType="VARCHAR" property="preestimatelandoutputunit" />
    <result column="actualoutput" jdbcType="DECIMAL" property="actualoutput" />
    <result column="actualoutputunit" jdbcType="VARCHAR" property="actualoutputunit" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, creattime, delstate, edittime, plantid, outputyear, output, outputlevel, preestimatecategory, 
    preestimateoutput, preestimateoutputunit, preestimatelandoutput, preestimatelandoutputunit, 
    actualoutput, actualoutputunit
  </sql>
  <select id="selectByExample" parameterType="com.fwk.common.entity.TPparcelplantyieldExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_p_parcel_plant_yield
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_p_parcel_plant_yield
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_p_parcel_plant_yield
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fwk.common.entity.TPparcelplantyieldExample">
    delete from t_p_parcel_plant_yield
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fwk.common.entity.TPparcelplantyield">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_p_parcel_plant_yield (creattime, delstate, edittime, 
      plantid, outputyear, output, 
      outputlevel, preestimatecategory, preestimateoutput, 
      preestimateoutputunit, preestimatelandoutput, 
      preestimatelandoutputunit, actualoutput, 
      actualoutputunit)
    values (#{creattime,jdbcType=TIMESTAMP}, #{delstate,jdbcType=INTEGER}, #{edittime,jdbcType=TIMESTAMP}, 
      #{plantid,jdbcType=INTEGER}, #{outputyear,jdbcType=VARCHAR}, #{output,jdbcType=VARCHAR}, 
      #{outputlevel,jdbcType=VARCHAR}, #{preestimatecategory,jdbcType=VARCHAR}, #{preestimateoutput,jdbcType=DECIMAL}, 
      #{preestimateoutputunit,jdbcType=VARCHAR}, #{preestimatelandoutput,jdbcType=DECIMAL}, 
      #{preestimatelandoutputunit,jdbcType=VARCHAR}, #{actualoutput,jdbcType=DECIMAL}, 
      #{actualoutputunit,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fwk.common.entity.TPparcelplantyield">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_p_parcel_plant_yield
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="creattime != null">
        creattime,
      </if>
      <if test="delstate != null">
        delstate,
      </if>
      <if test="edittime != null">
        edittime,
      </if>
      <if test="plantid != null">
        plantid,
      </if>
      <if test="outputyear != null">
        outputyear,
      </if>
      <if test="output != null">
        output,
      </if>
      <if test="outputlevel != null">
        outputlevel,
      </if>
      <if test="preestimatecategory != null">
        preestimatecategory,
      </if>
      <if test="preestimateoutput != null">
        preestimateoutput,
      </if>
      <if test="preestimateoutputunit != null">
        preestimateoutputunit,
      </if>
      <if test="preestimatelandoutput != null">
        preestimatelandoutput,
      </if>
      <if test="preestimatelandoutputunit != null">
        preestimatelandoutputunit,
      </if>
      <if test="actualoutput != null">
        actualoutput,
      </if>
      <if test="actualoutputunit != null">
        actualoutputunit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="creattime != null">
        #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="delstate != null">
        #{delstate,jdbcType=INTEGER},
      </if>
      <if test="edittime != null">
        #{edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="plantid != null">
        #{plantid,jdbcType=INTEGER},
      </if>
      <if test="outputyear != null">
        #{outputyear,jdbcType=VARCHAR},
      </if>
      <if test="output != null">
        #{output,jdbcType=VARCHAR},
      </if>
      <if test="outputlevel != null">
        #{outputlevel,jdbcType=VARCHAR},
      </if>
      <if test="preestimatecategory != null">
        #{preestimatecategory,jdbcType=VARCHAR},
      </if>
      <if test="preestimateoutput != null">
        #{preestimateoutput,jdbcType=DECIMAL},
      </if>
      <if test="preestimateoutputunit != null">
        #{preestimateoutputunit,jdbcType=VARCHAR},
      </if>
      <if test="preestimatelandoutput != null">
        #{preestimatelandoutput,jdbcType=DECIMAL},
      </if>
      <if test="preestimatelandoutputunit != null">
        #{preestimatelandoutputunit,jdbcType=VARCHAR},
      </if>
      <if test="actualoutput != null">
        #{actualoutput,jdbcType=DECIMAL},
      </if>
      <if test="actualoutputunit != null">
        #{actualoutputunit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fwk.common.entity.TPparcelplantyieldExample" resultType="java.lang.Integer">
    select count(*) from t_p_parcel_plant_yield
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_p_parcel_plant_yield
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.creattime != null">
        creattime = #{record.creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.delstate != null">
        delstate = #{record.delstate,jdbcType=INTEGER},
      </if>
      <if test="record.edittime != null">
        edittime = #{record.edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.plantid != null">
        plantid = #{record.plantid,jdbcType=INTEGER},
      </if>
      <if test="record.outputyear != null">
        outputyear = #{record.outputyear,jdbcType=VARCHAR},
      </if>
      <if test="record.output != null">
        output = #{record.output,jdbcType=VARCHAR},
      </if>
      <if test="record.outputlevel != null">
        outputlevel = #{record.outputlevel,jdbcType=VARCHAR},
      </if>
      <if test="record.preestimatecategory != null">
        preestimatecategory = #{record.preestimatecategory,jdbcType=VARCHAR},
      </if>
      <if test="record.preestimateoutput != null">
        preestimateoutput = #{record.preestimateoutput,jdbcType=DECIMAL},
      </if>
      <if test="record.preestimateoutputunit != null">
        preestimateoutputunit = #{record.preestimateoutputunit,jdbcType=VARCHAR},
      </if>
      <if test="record.preestimatelandoutput != null">
        preestimatelandoutput = #{record.preestimatelandoutput,jdbcType=DECIMAL},
      </if>
      <if test="record.preestimatelandoutputunit != null">
        preestimatelandoutputunit = #{record.preestimatelandoutputunit,jdbcType=VARCHAR},
      </if>
      <if test="record.actualoutput != null">
        actualoutput = #{record.actualoutput,jdbcType=DECIMAL},
      </if>
      <if test="record.actualoutputunit != null">
        actualoutputunit = #{record.actualoutputunit,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_p_parcel_plant_yield
    set id = #{record.id,jdbcType=INTEGER},
      creattime = #{record.creattime,jdbcType=TIMESTAMP},
      delstate = #{record.delstate,jdbcType=INTEGER},
      edittime = #{record.edittime,jdbcType=TIMESTAMP},
      plantid = #{record.plantid,jdbcType=INTEGER},
      outputyear = #{record.outputyear,jdbcType=VARCHAR},
      output = #{record.output,jdbcType=VARCHAR},
      outputlevel = #{record.outputlevel,jdbcType=VARCHAR},
      preestimatecategory = #{record.preestimatecategory,jdbcType=VARCHAR},
      preestimateoutput = #{record.preestimateoutput,jdbcType=DECIMAL},
      preestimateoutputunit = #{record.preestimateoutputunit,jdbcType=VARCHAR},
      preestimatelandoutput = #{record.preestimatelandoutput,jdbcType=DECIMAL},
      preestimatelandoutputunit = #{record.preestimatelandoutputunit,jdbcType=VARCHAR},
      actualoutput = #{record.actualoutput,jdbcType=DECIMAL},
      actualoutputunit = #{record.actualoutputunit,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fwk.common.entity.TPparcelplantyield">
    update t_p_parcel_plant_yield
    <set>
      <if test="creattime != null">
        creattime = #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="delstate != null">
        delstate = #{delstate,jdbcType=INTEGER},
      </if>
      <if test="edittime != null">
        edittime = #{edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="plantid != null">
        plantid = #{plantid,jdbcType=INTEGER},
      </if>
      <if test="outputyear != null">
        outputyear = #{outputyear,jdbcType=VARCHAR},
      </if>
      <if test="output != null">
        output = #{output,jdbcType=VARCHAR},
      </if>
      <if test="outputlevel != null">
        outputlevel = #{outputlevel,jdbcType=VARCHAR},
      </if>
      <if test="preestimatecategory != null">
        preestimatecategory = #{preestimatecategory,jdbcType=VARCHAR},
      </if>
      <if test="preestimateoutput != null">
        preestimateoutput = #{preestimateoutput,jdbcType=DECIMAL},
      </if>
      <if test="preestimateoutputunit != null">
        preestimateoutputunit = #{preestimateoutputunit,jdbcType=VARCHAR},
      </if>
      <if test="preestimatelandoutput != null">
        preestimatelandoutput = #{preestimatelandoutput,jdbcType=DECIMAL},
      </if>
      <if test="preestimatelandoutputunit != null">
        preestimatelandoutputunit = #{preestimatelandoutputunit,jdbcType=VARCHAR},
      </if>
      <if test="actualoutput != null">
        actualoutput = #{actualoutput,jdbcType=DECIMAL},
      </if>
      <if test="actualoutputunit != null">
        actualoutputunit = #{actualoutputunit,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fwk.common.entity.TPparcelplantyield">
    update t_p_parcel_plant_yield
    set creattime = #{creattime,jdbcType=TIMESTAMP},
      delstate = #{delstate,jdbcType=INTEGER},
      edittime = #{edittime,jdbcType=TIMESTAMP},
      plantid = #{plantid,jdbcType=INTEGER},
      outputyear = #{outputyear,jdbcType=VARCHAR},
      output = #{output,jdbcType=VARCHAR},
      outputlevel = #{outputlevel,jdbcType=VARCHAR},
      preestimatecategory = #{preestimatecategory,jdbcType=VARCHAR},
      preestimateoutput = #{preestimateoutput,jdbcType=DECIMAL},
      preestimateoutputunit = #{preestimateoutputunit,jdbcType=VARCHAR},
      preestimatelandoutput = #{preestimatelandoutput,jdbcType=DECIMAL},
      preestimatelandoutputunit = #{preestimatelandoutputunit,jdbcType=VARCHAR},
      actualoutput = #{actualoutput,jdbcType=DECIMAL},
      actualoutputunit = #{actualoutputunit,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>